language: java
env:
  global:
    - MAVEN_OPTS="-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
jdk:
  - oraclejdk7
  - oraclejdk8
install: 
  - "mvn -N -q io.takari:maven:wrapper -Dmaven=3.3.9"
script: 
  - "./mvnw --errors --show-version --batch-mode -Dversions.skip=true -P foss-parent-verification clean verify site site:stage"
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - mfriedenhagen@gmail.com
