<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 xdoc-2.0.xsd">
    <properties>
        <title>Introduction</title>
        <author>Mirko Friedenhagen</author>
    </properties>
    <body>
        <section name="Introduction">
            <p>
                By annotating your tests with
                <a href="apidocs/net/oneandone/testlinkjunit/tljunit/TestLink.html">
                    <tt>TestLink</tt>
                </a>
                test results will be written to a
                <tt>XML</tt>
                file which may be imported to a running
                <a href="http://www.teamst.org/">Testlink</a>
                instance as described in the
                <a href="http://www.teamst.org/_tldoc/1.8/user_manual.pdf">user manual</a>
                .
            </p>
            <p>
                Another option is to log the start and end of an executed test to
                an injected <a href="http://www.slf4j.org/apidocs/org/slf4j/Logger.html">Logger</a>.
            </p>
        </section>
        <section name="Usage">
            <subsection name="Annotating your tests">
                <p>
                    You have to annotate your tests and provide either an
                    <tt>externalId</tt>
                    or a numeric
                    <tt>internalId</tt>
                </p>
                <source><![CDATA[
@Test
@TestLink(internalId=1)
public void testPassed() {
    assertTrue(true); // PASSED
}]]></source>
                <source><![CDATA[
@Test
@TestLink(externalId="PROJECT-1")
public void testExternalId() {
    assertTrue(true); // PASSED
}]]></source>
                <p>
                    Tests annotated with
                    <a href="http://kentbeck.github.com/junit/javadoc/latest/org/junit/Ignore.html">
                        <tt>Ignore</tt>
                    </a>
                    will be marked as
                    <tt>BLOCKED</tt>
                    as well as tests with <a href="http://kentbeck.github.com/junit/javadoc/latest/org/junit/Assume.html">failing assumptions</a>.
                </p>
                <source><![CDATA[
@Test
@TestLink(internalId=2)
@Ignore("Just ignore this")
public void testIgnored() {
    assertTrue(true); // BLOCKED as test is ignored.
}]]></source>
                <source><![CDATA[
@Test
@TestLink(externalId="ASSUMPTION_FAILED")
public void testWithFailingAssumption() {
    assumeTrue(false); // BLOCKED as assumption failed.
}]]></source>
                <p>
                    Failing tests or tests in error are marked as <tt>FAILED</tt>.
                </p>
                <source><![CDATA[
@Test
@TestLink(internalId=5)
public void testFailed() {
    assertTrue(false); // FAILED
}]]></source>
            </subsection>
            <subsection name="Running tests with the maven-surefire-plugin">
                <p>
                    You have to configure the surefire plugin to use the additional
                    <a href="apidocs/net/oneandone/testlinkjunit/tljunit/TestLinkXmlRunListener.html">
                        <tt>TestLinkXmlRunListener</tt>
                    </a>
                    or
                    <a href="apidocs/net/oneandone/testlinkjunit/tljunit/TestLinkLoggingRunListener.html">
                        <tt>TestLinkLoggingRunListener</tt>
                    </a>
                    (For more information, take a look into the classes' documentation above.).
                    As can be seen below, username and file-location for the result file or the logger name may be provided as
                    system properties.
                </p>
                <source><![CDATA[
<build>
    <plugins>
        <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-surefire-plugin</artifactId>
            <version>2.10</version>
            <dependencies>
                <dependency>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                </dependency>
            </dependencies>
            <configuration>
                <properties>
                    <property>
                        <name>listener</name>
                        <value>net.oneandone.testlinkjunit.tljunit.TestLinkXmlRunListener,net.oneandone.testlinkjunit.tljunit.TestLinkLoggingRunListener
</value>
                    </property>
                </properties>
                <systemPropertyVariables>
                    <testlink.results>target/my-testlink.xml</testlink.results>
                    <testlink.userName>memyselfandi</testlink.userName>
                    <teslink.loggername>MY_LOGGER</teslink.loggername>
                </systemPropertyVariables>
            </configuration>
        </plugin>
    </plugins>
</build>]]></source>
                <p>
                    Now running
                    <kbd>mvn test</kbd>
                    will run your tests and put the resulting TestLink XML file into
                    <tt>target/my-testlink.xml</tt>
                    using
                    <tt>memyselfandi</tt>
                    as name of the user who executed the test run.
                </p>
            </subsection>
            <subsection name="Running tests in Eclipse">
                <p>To run a test from Eclipse, add a main method which will collect the tests:</p>
                <source><![CDATA[
package net.oneandone.testlinkjunit.eclipse;

import static org.junit.Assert.assertTrue;

import java.io.FileNotFoundException;

import net.oneandone.testlinkjunit.tljunit.TestLink;
import net.oneandone.testlinkjunit.tljunit.TestLinkXmlRunListener;

import org.junit.Test;
import org.junit.runner.JUnitCore;

public class EclipseTest {

    @Test
    @TestLink(externalId="ECLIPSE_TEST")
    public void test() {
        assertTrue(true);
    }

    public static void main(String[] args) throws FileNotFoundException {
        final JUnitCore core = new JUnitCore();
        core.addListener(new TestLinkXmlRunListener());
        core.run(EclipseTest.class);
    }
}]]></source>
            </subsection>
        </section>
    </body>
</document>
